@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
  span {
    display: block;
    text-align: center;
  }
  p {
    text-align: center;
    width: 30%;
    margin: 10px;
    padding: 10px;
    font-size: small;
  }
}
